body {
    background: #e9eaef;
}


/* New flexbox layouting, cause Fomantic UI Grid is no good */
.gc-1-box {
    margin: 10px !important;
    width: inherit;
}
.gc-2-box {
    width: 400px;
    flex-grow: 1;
    margin: 10px !important;
}

.gc-4-box {
    width: 200px;
    flex-grow: 1;
    margin: 10px !important;
}

.gc-5-box {
    width: 150px;
    flex-grow: 1;
    margin: 10px !important;
}

.gc-chart {
    width: 600px;
    height: 600px;
    flex-grow: 1;
    margin: 10px !important;
}


/* MENU STYLES ========== */
a,
#menu-arne, #content-flex {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#menu-toggle i {
     font-size: 2em;
     color: #333;
     margin:  10px;
 }

 #menu-arne {
    left: 0px;
 }
 #content-flex {
     margin-left: 300px;
 }

@media only screen and (max-width: 820px) {
    #menu-arne {
        left: -300px;
     }
     #content-flex {
         margin-left: 0;
     }
}

