body {
    background: #e9eaef;
    display: flex;
}

/* preload class is only present on body to prevent transition on margin-left flickering
on load. class is removed after initial page load in main.js
Thanks to https://css-tricks.com/transitions-only-after-page-load/ */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#horizontal-card {
    width: 100% !important;
    margin-bottom: 26px !important;
}

#project-uri {
    word-break: break-all;
    overflow-wrap: break-all;
}

#chart-container {
    margin-top: 14px;
}

.no-transform-statistics .tiny.statistic .value {
    text-transform: none;
}

.statistics-chart-card {
    min-width: 600px;
    flex-grow: 1;
}
.statistics-chart {
    width: 100%;
    height: 100%;
    min-height: 600px;
}

.article {
    background: #e9eaef;
}

/* index.html: */

#table {
    padding: 20px;
}

.td-index {
    word-break: break-all;
    overflow-wrap: break-all;
}

/* request.html: */
#new-project-description>div {
    margin-bottom: 10px;
}

#new-project-name-div {
    margin-top: 10px;
}

.gc-top-aligned {
    align-items: flex-start;
}

.gc-stats-multiply {
    text-transform: lowercase !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.gc-stats-multiply div.value {
    text-transform: lowercase !important;
}

/* Chart container special flex flow */
/* By using cards stackable from the framework the layout was not collapsing correctly with the echarts containers */
#chart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}
#chart-container .card {
    margin-top: 0 !important;
}
/* Layouting for menu and main content ========== */

#menu-toggle i {
     margin-right:  30px;
}

 #menu {
    width: 200px;
    background: #333;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0px;
    margin-left:  0px;
    background: rgb(47, 61, 79);
    background: linear-gradient(180deg, rgb(47, 61, 79) 0%, rgb(47, 61, 79) 50%, rgb(80, 144, 113) 100%);

 }
 #main {
     flex-grow:  1;
     margin: 20px 40px 0px 240px ;
}

/* Handle collapsing on click or on small window */
a,
#menu {
    -webkit-transition: left 300ms ease-in-out;
    transition: left 300ms ease-in-out;

}
#main {
    -webkit-transition: margin-left 300ms ease-in-out;
    transition: margin-left 300ms ease-in-out;

}


#menu.closed {
    left: -200px;
 }
#main.closed {
    margin-left: 40px;
}

#menu.opened {
   left: 0px !important;
}
#main.opened {
   margin-left: 240px !important;
}


@media only screen and (max-width: 960px) {
     #menu {
        left: -200px;
     }
     #main {
         margin-left: 20px;
         margin-right: 20px;
     }
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    overflow-wrap: normal;
    overflow: hidden;
}

.si-unit {
    text-transform: none;
}

.ui.fluid.image.menu-logo {
    width: 90%;
}

.invalidated-measurement {
    background: #e9eaef url("/images/noncompliant.png");
}

.full-width {
    flex: 0 0 100%
}

.chart-navigation-icon {
    transition: 0.2s;
    width: 160px;
    overflow: hidden;
}

.hide {
    width: 0 !important;
}

